table{
    border: 2px solid black;
    width: 500px;
border-spacing: 0;
border-collapse: separate;
}
th, td{
    border: 2px solid grey;
}
h1{
    text-align: center;
}
body{
    width: 70%;
    margin: 0 auto;
    border-style: none solid;
    padding: 20px
}
h3{
    color: blue;
}
h5{
    color: white;
    background-color: black;
    text-align: center;
    font-size: larger;
}
table{
    width: 86%;

}
th{
    font-size: larger;
}
a{
    color: red;
}
h2 {
    position: relative;
    padding-left: 20px; 
    background-color: red;
    border-radius: 9px;
    text-align: center;
  }
  
  h2::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%);
    border-top: 10px solid transparent; 
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgb(92, 92, 92);
  }
  thead{
    background-color: rgb(233, 227, 227);
    }
  tfoot{
    background-color: rgb(233, 227, 227);
    }
    dt{
        font-size: larger;
    }